@import './variables';


// .headerContainer * {
//   font-family: 'Asgard Fit', 'arial';
//   font-size: large;
// }

// .headerContainer {
//   // Mobile first approach
//   // You might want to set other styles specific to mobile here
//   position: relative;
// }

// .desktopHeader {
//   position: fixed;
//   top: 0; // align to the top
//   right: 0; // align to the right
//   display: flex; // make child divs display in a row
//   gap: 10px; // provide some gap between the menu items
//   padding: 10px; // provide some padding around the menu items
// }

// /* Optional: you can style individual menu items for better appearance */
// .desktopHeader div {
//   cursor: pointer; // change cursor to pointer when hovering over menu items
//   padding: 5px 10px; // provide some padding to each menu item
//   border-radius: 5px; // round the corners

//   &:hover {
//     background-color: rgba(0, 0, 0, 0.1); // change background on hover
//   }
// }

.headerContainer * {
  font-family: 'Asgard Fit', 'arial';
  font-size: large;
}

.headerContainer {
  position: relative;
}

.hamburger {
  display: inline-block;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  
  @media (min-width: 768px) {
    display: none; // Hide hamburger on desktop
  }
}

.desktopHeader {
  display: none; // Hide on mobile by default
  position: fixed;
  top: 0; 
  right: 0;
  flex-direction: column; // Make it vertical on mobile
  gap: 5px;
  padding: 10px;

  &.active { // When menu is active
    display: flex;
  }

  @media (min-width: 768px) {
    display: flex; 
    flex-direction: row;
    gap: 10px;
  }
}

.desktopHeader div {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}