@import './variables';

$header-height: 10rem;
$navbar-width: 10rem;
$color-primary: $bg;
$color-secondary: $bg;
$color-mobile: $bg;

.cardContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 10px;  /* Added some padding to ensure the text doesn't sit directly on the edge */
}

.heroContainer{
  display: flex;
  flex-direction: column;
  padding-top:220px;

height: 100%;
width: 100%;

}

.heroText {
  font-size: 7rem;
}
.heroText2 {
  font-size: 7rem;
  margin-top: -50px;
  
}

.heroButton {
  padding-top: 15px;
  padding:5px;
  border-radius: 2px;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  max-width: 5rem;
}