

.globalContainer{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.videoBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%; //100vh ?
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); // Center the video
    object-fit: cover;
    z-index: -2;

    @media (max-width: 768px) {
        content: url('/bgDefault.png'); // path to your fallback image
        display: block;
        background-size: cover;
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

}
.content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    // justify-content: flex-start;
    // align-items: center;
    // gap:150px;
    @media (max-width: 768px) {
        gap: 150px;
    }
}





